<div class="row">
  <div class="col-md-12">
    Usted debe registrar sus datos para poder utilizar Oneclick:
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= form_for :subscribe, url: oneclick_mall_subscribe_path do |f| %>
      <%= f.submit Spree.t("continue"), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to Spree.t("back"), checkout_state_path(:payment), class: "btn btn-info" %>
  </div>
</div>