<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="row text-center card my-3 px-4 border p-3">

        <div class="row">
          <div class="col-8 offset-2 col-md-4 offset-md-4">
                       <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player class="webpay-loader" src="https://assets7.lottiefiles.com/private_files/lf30_imtpbtnl.json" background="transparent" speed="1" style="width: 200px; height: 100px;margin: 0 auto;" loop autoplay></lottie-player>
          </div>
          <div class="col-md-12">
            <h4 class="sans-serif my-3">Subscripción exitosa</h4>
            <p>La subscripción a Oneclick resultó exitosa. Ahora puede continuar con el pago.</p>
          </div>
        </div>
        <div class="row">

          <div class="col-12 col-md-10 offset-md-1">
            <div class="row">
              <div class="col-6">
                <%= link_to Spree.t("back"), cookies[:back_url_oneclick], class: "btn btn-info w-100 btn-outline-primary white" %>
              </div>
              <div class="col-6">
                <%= link_to Spree.t("continue_checkout"), checkout_state_path(current_order.state), class: "btn btn-primary w-100" %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>