<div class="row">
  <div class="col-md-12">
    La desvinculación a Webpay Oneclick resultó exitosa.
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to Spree.t("continue"), account_path, class: "btn btn-primary" %>
  </div>
</div>